.product-page-header {
    background: #CE2829;
    text-align: center;
    padding: 10px;
}

.product-hero {
    background-color: #faf7f2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(2px 4px 6px black);
}

.product-hero-container {
    max-width: 40%;
    padding: 3% 1% 1% 1%;
    margin: auto;
}

.product-page-container {
    max-width: 40%;
    padding: 3% 1% 1% 1%;
    margin: auto;
    margin-bottom: 5%;
}

.comment {
    width: 20px !important;
    padding-right: 4px;
}

.food-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.food-info-price {
    font-weight: bold;
    font-size: 2rem;
}

.food-card-info p:nth-child(2) {
    text-align: center;
}

.food-card-info p:nth-child(3) {
    text-align: center;
}

.food-info-price span {
    font-size: 1rem;
    font-weight: normal;
}

.radio.col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.radio-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: flex-start;
}

.radio-div1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-around;
}

.radio-div .form-check-label {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 0px;
    position: relative;
    top: 2px;
    font-size: 1.2rem;
    text-align: center;
    background: #faf7f2;
    padding-top: 20%;
}

.radio-button:hover {
    cursor: pointer
}

.radio-button::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20%;
    opacity: 0;
    box-shadow: inset 0px 0px 20px 8px #ffdb12;
}

input[type="radio"]:checked+.radio-button::before {
    opacity: 1;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    visibility: hidden;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    margin-bottom: .125rem;
    padding-right: 1.5em;
}

.hamur-kalinligi.col {
    text-align: right;
    display: flex;
    flex-direction: column;
}


.hamur-kalinligi>div h5 {
    text-align: left;
    margin-left: 75px;
}

.drop,
.dropdown-toggle {
    background: #faf7f2;
    border: none;
    color: #333;
}

.dropdown-menu.show {
    display: block;
    background: #faf7f2;
    border: none;
    text-align: left;
    box-shadow: 0px 0px 10px 2px #d7d7d7;
}



.btn-group,
.btn-group-vertical {
    min-width: 200px;
}

.malzemeler {
    justify-content: space-between;
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    max-width: 94%;
    margin: auto;
}

.malzemeler .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    margin-bottom: 1.125rem;
    padding-right: 1.5em;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    background: #faf7f2;
    border: none;
    margin-top: -0.5em;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    background-color: rgb(255, 219, 18);
}

.form-control {
    background-color: #faf7f2;
    border: none;
}

.radio-div1 .form-control {
    padding: 7%;
}

textarea.form-control {
    min-height: calc(4.5em + .75rem + 2px);
    background: #faf7f2;
    border: none;
    padding: 15px 0 0 15px;
}

.sizes {
    margin-left: -70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    color: rgb(204, 0, 0)
}

.total-secimler {
    display: flex;
    justify-content: space-between;
    color: rgb(78, 78, 78)
}

.total-table {
    margin: auto;
    min-width: 70%;
}

.totals {
    background: #faf7f2;
    padding: 10% 0 0 0;
    border: none;
}

.totals button {
    padding: 4%;
    border: none;
    background: #ffe300;
    font-size: 1rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 7%;
}

.adet-select span {
    padding: 1% 6%;
    font-size: 1.6rem;
    background: #faf7f2;
    border: 1px solid #faf7f2;
}

.adet-select span:nth-child(1) {
    cursor: pointer;
}

.adet-select span:nth-child(3) {
    cursor: pointer;
}

.total-section {
    margin-top:10%;
}

.name-section {
    margin-top: 8%;
    text-align: center;
}

.name-section .form-control {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
}

.adres {
    min-height: 150px!important;
    min-width: 205px!important;
}

.customer-form {
    background: #faf7f2;
    border: 1px solid whitesmoke;
    padding: 5%;
}

.customer-form .form-label {
    width: 100%;
}

.customer-form .form-control {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    margin-top: 2%;
}